body {
    background-color: skyblue;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  poster {
    width: 50%;
    
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
  
  
  
  .motivational1 {
    border: 5px solid white;
    border-width: 10px 10px 10px 10px ;

    width: 50%;
    
  }
  .motivational2{
    border: 5px solid white;
    border-width: 10px 10px 10px 10px ;

    width: 50%;
  }